* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* header */

header {
  background-color: rgb(172, 230, 227);
  height: 60px;
  padding: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.bg-orange {
  background-color: orange;
}


.col-25 {
  width: 25%;

}

.col-50 {
  width: 50%;
}

.col-25.bg-orange,
.col-50.bg-orange {
  height: 30px;
  text-align: center;
  justify-content: space-between;
}

.allineare {
  border: 3px black dotted;
}

/* main */


.container-blù {
  background-color: #0f2192;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.quadrato-rosa {
  height: 400px;
  width: 800px;
  background-color: rgb(201, 123, 201);
  border: 3px black dotted;
}