* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* header */

header {
  background-color: rgb(172, 230, 227);
  height: 60px;
  padding: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.bg-orange {
  background-color: orange;
}


.col-25 {
  width: 25%;

}

.col-50 {
  width: 50%;
}

.col-25.bg-orange,
.col-50.bg-orange {
  height: 30px;
  text-align: center;
  justify-content: space-between;
}

.allineare {}

/* main */



/* section blu */

.container-blu {
  background-color: #0f2192;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.quadrato-rosa {
  height: 400px;
  width: 800px;
  background-color: rgb(201, 123, 201);
  border: 3px black dotted;
}

/* section bianca */

.container-bianco {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-pink {
  background-color: pink;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-60,
.col-40 {
  height: 500px;
  border: 2px black dotted;
}

/* section grigia */

.container-grigio {
  background-color: gray;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}